@import "_mixins";
@import "_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000000;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
body {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #000000;
  background-color: #ffffff;
}
body,
html {
  overflow-x: hidden;
}

.header {
  background: url("~/static/img/picture/1block3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  @include fluid(padding-top, 30px, 100px);
  @include fluid(padding-bottom, 30px, 100px);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0000009e;
  }
  &__container {
    @include container();
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  &__logo {
    background: url("~/static/img/icon/Logo_PB_85.png") no-repeat;
    @include fluid(width, 360px, 600px);
    @include fluid(height, 155px, 250px);
    background-size: contain;
    @include fluid(margin-bottom, 30px, 50px);
  }
  &__subtitle {
    @include fluid(font-size, 22px, 55px);
    font-weight: 700;
    color: #ffffff;
    @include fluid(margin-bottom, 5px, 15px);
  }
  &__title {
    @include fluid(font-size, 28px, 80px);
    font-weight: 700;
    color: #ffffff;
  }
}

.content {
  background-color: #f2f2f2;
  @include fluid(padding-top, 30px, 100px);
  @include fluid(padding-bottom, 30px, 100px);
  &__container {
    @include container();
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__subtitle {
    @include fluid(font-size, 22px, 38px);
    font-weight: 500;
    @include fluid(margin-bottom, 5px, 15px);
  }
  &__title {
    @include fluid(font-size, 24px, 46px);
    font-weight: 700;
  }
  &__text {
    @include fluid(font-size, 26px, 48px);
    color: rgb(252, 17, 40);
    @include fluid(margin-top, 10px, 20px);
    font-weight: 700;
  }
}

.info {
  background-color: #ffffff;
  @include fluid(padding-top, 30px, 100px);
  @include fluid(padding-bottom, 30px, 100px);
  &__container {
    @include container();
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include fluid(font-size, 24px, 46px);
    font-weight: 700;
  }
  &__text {
    @include fluid(font-size, 16px, 28px);
    @include fluid(margin-top, 10px, 20px);
    @include fluid(margin-bottom, 10px, 20px);
    text-align: center;
    span {
      font-weight: 700;
    }
  }
}

.vk {
  fill: rgb(0, 119, 255);
  transition: opacity 0.38s ease-in-out;
  &:hover {
    opacity: 0.6;
  }
}

.picture {
  background-color: #f2f2f2;
  @include fluid(padding-top, 30px, 100px);
  @include fluid(padding-bottom, 15px, 50px);
  @include fluid(padding-left, 15px, 50px);
  @include fluid(padding-right, 15px, 50px);
  &__container {
    display: flex;
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    @include fluid(font-size, 24px, 46px);
    font-weight: 700;
    text-align: center;
    @include fluid(margin-bottom, 30px, 80px);
  }
  &__img {
    object-fit: cover;
    @include fluid(margin-right, 15px, 50px);
    @include fluid(margin-bottom, 15px, 50px);
    @include fluid(width, 470px, 900px);
    @include fluid(height, 470px, 900px);
    &--mr {
      margin-right: 0;
    }
    &--small {
      @include fluid(width, 222px, 400px);
      @include fluid(height, 227px, 420px);
    }
    &--big {
      width: 100%;
      @include fluid(height, 500px, 710px);
    }
  }
}

.place {
  background-color: #ffffff;
  @include fluid(padding-top, 30px, 100px);
  @include fluid(padding-bottom, 30px, 100px);
  &__container {
    @include container();
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__subtitle {
    @include fluid(font-size, 22px, 28px);
    text-align: center;
    @include fluid(margin-bottom, 20px, 40px);
  }
  &__title {
    @include fluid(font-size, 24px, 46px);
    font-weight: 700;
    @include fluid(margin-bottom, 20px, 40px);
  }
  &__text {
    @include fluid(font-size, 18px, 24px);
    @include fluid(margin-top, 15px, 30px);
  }
  &__img {
    width: 100%;
    object-fit: contain;
    @include fluid(height, 300px, 500px);
  }
}

.map {
  background-color: #f2f2f2;
  @include fluid(padding-top, 30px, 100px);
  @include fluid(padding-bottom, 30px, 100px);
  &__container {
    @include container();
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__map {
    width: 48%;
    @include fluid(height, 250px, 400px);
  }
  &__title {
    @include fluid(font-size, 24px, 46px);
    font-weight: 700;
    @include fluid(margin-bottom, 20px, 40px);
  }
  &__text {
    @include fluid(font-size, 16px, 28px);
    @include fluid(margin-top, 15px, 30px);
  }
  &__item {
    width: 48%;
  }
}

.timer {
  background: url("~/static/img/picture/1block2_11.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  @include fluid(padding-top, 25px, 50px);
  @include fluid(padding-bottom, 25px, 50px);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000075;
  }
  &__container {
    @include container();
    position: relative;
  }
  &__title {
    @include fluid(font-size, 24px, 46px);
    font-weight: 700;
    @include fluid(margin-bottom, 25px, 50px);
    text-align: center;
    color: #ffffff;
  }
  &__info {
    @include fluid(margin-top, 20px, 30px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    &-number {
      @include fluid(font-size, 46px, 120px);
      color: #ffffff;
      text-align: center;
    }
    &-text {
      @include fluid(font-size, 16px, 30px);
      text-align: center;
      color: #ffffff;
    }
  }
  &__line {
    @include fluid(height, 75px, 180px);
    @include fluid(margin-left, 40px, 50px);
    @include fluid(margin-right, 40px, 50px);
    width: 3px;
    background-color: #ffffff;
  }
}

.footer {
  background-color: #606466;
  @include fluid(padding-top, 15px, 30px);
  @include fluid(padding-bottom, 15px, 30px);
  @include fluid(margin-top, 30px, 50px);
  &__container {
    @include container();
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__logo {
    background: url("~/static/img/icon/Logo_PB_85.png") no-repeat;
    background-size: contain;
    @include fluid(width, 150px, 280px);
    @include fluid(height, 65px, 120px);
  }
  &__copiraited {
    @include fluid(font-size, 14px, 18px);
    color: #ffffff;
  }
  &__social {
    &-vk {
      svg {
        @include fluid(width, 20px, 40px);
        @include fluid(height, 20px, 40px);
        fill: #ffffff;
        stroke: #ffffff;
        transition: all 0.38s ease-in-out;
        &:hover {
          fill: rgb(0, 119, 255);
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .picture__img {
    width: 50%;
    height: 360px;
    &--small {
      width: 47%;
      height: 172px;
    }
    &--big {
      width: 100%;
      height: 350px;
    }
  }
}

@media screen and (max-width: 576px) {
  .header {
    &__logo {
      width: 250px;
      height: 108px;
    }
    &__subtitle {
      font-size: 16px;
    }
    &__title {
      font-size: 22px;
    }
  }
  .picture {
    &__container {
      display: block;
    }
    &__item {
      display: block;
    }
    &__img {
      width: 100%;
    }
  }
  .place {
    &__subtitle {
      font-size: 16px;
    }
    &__img {
      height: 135px;
    }
  }
  .map {
    &__container {
      display: block;
    }
    &__map {
      width: 100%;
    }
    &__item {
      width: 100%;
      margin-top: 20px;
    }
    &__title {
      margin-bottom: 10px;
    }
  }
  .timer {
    &__line {
      margin-left: 10px;
      margin-right: 10px;
      width: 2px;
      height: 60px;
    }
    &__item-number {
      font-size: 36px;
    }
  }
}
